[project]
	description = Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/byunwonyoung
[access "refs/for/refs/*"]
	read = group user/byunwonyoung
	push = group user/byunwonyoung
	label-Code-Review = -2..+2 group user/byunwonyoung
	label-Verified = -1..+1 group user/byunwonyoung
	rebase = group user/byunwonyoung
	removeReviewer = group user/byunwonyoung
	submit = group user/byunwonyoung
[access "refs/heads/*"]
	read = group user/byunwonyoung
	create = group user/byunwonyoung
	push = +force group user/byunwonyoung
	pushMerge = group user/byunwonyoung
[access "refs/tags/*"]
	push = group user/byunwonyoung
	push = +force group user/byunwonyoung
